* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
body {
  background: linear-gradient(180deg, rgba(204, 10, 29, 0.404) 50%, rgba(141, 35, 46, 0.1) 90%),
              repeating-linear-gradient(179deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 3px, rgba(0, 0, 0, 0.1) 3px, rgba(0, 0, 0, 0.1) 5px);
  background-color: #0b232f;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

::selection {
  color: #ff1493;
  background: #9932cc;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  /* margin: 0 auto;
  padding: 0 40px; */
  font-family: "VT323";
  font-size: 1.3em;
  line-height: 1.3;
}

div, p {
  color: #fff;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
  text-decoration: none;
  outline: 0 none;
}

.wrap-top {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* margin-top: 0%; */
  /* padding-bottom: 100px; */
  height: 150px;
}
@media only screen and (max-width:400px) {
  
}

.wrap-top #quote {
  width: 100%;
  padding-bottom: 30px;
  position: relative;
}

.wrap-top #quote::before {
  content: '"';
  font-size: 5em;
  position: absolute;
  left: -50px;
  top: -35px;
}

#quotes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  
}

#quotes::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  content: "";
  -webkit-animation: 4000ms linear 0ms forwards infinite scan;
          animation: 4000ms linear 0ms forwards infinite scan;
}
#quotes::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  content: "";
  -webkit-animation: 3000ms linear 1300ms forwards infinite scan;
          animation: 3000ms linear 1300ms forwards infinite scan;
}


.wrap-top #author-source {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;


}
.wrap-top #author-source #author,
.wrap-top #author-source #source {
  font-size: 0.85em;
}

.wrap-top #author-source #author {
  float: none;
 
  
}

.wrap-top #author-source #author:before {
  content: "- ";
}

.wrap-top #author-source #author:after {
  content: ",";
}

.wrap-top #author-source #source {
  font-style: italic;
  float: none;
  

}

.wrap-mid {
  padding: 25px 0 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 200px;

}
.wrap-mid .tweet {
  visibility: hidden;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  order: 1;
}
.wrap-mid .tweet:hover {
  text-shadow: 0 0 13px #fff;
  cursor: hand;
}
.wrap-mid button:hover {
  border-radius: 3px;
  outline: 0;
  padding: 5px 10px;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  background-color: transparent;
  font-family: "VT323", Helvetica, sans-serif;
  transition: all 0.5s;
 
  
}
.wrap-mid button {
  display: flex;
  order: 2;
  border-radius: 3px;
  outline: 0;
  padding: 5px 10px;
  color: #fff;
  border: #fff 0.125em solid;
  box-shadow: 0 0 10px  #fff;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  background-color: transparent;
  font-family: "VT323", Helvetica, sans-serif;
  transition: all 0.5s;
}
.wrap-mid #new-quote {
  float: right;
}

.wrap-btm {
  /* padding: 20% 0 10% 0;
  margin: 0 auto; */
  display: flex;
  text-align: center;
  justify-content: center;
 
  font-family: "VT323", Helvetica, sans-serif;
}
.wrap-btm p, .wrap-btm a {
  text-transform: uppercase;
  font-size: 0.6em;
  text-shadow: none;
  color: #ccc;
  opacity: 0.4;
}
.wrap-btm a {
  color: #ccc;
  font-size: 1.05em;
  opacity: 1;
}


:root {
  --clr-neon: rgb(241, 16, 8);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  background: var(--clr-neon);
  

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
 
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

@-webkit-keyframes flickerAnimation{

  0%   { opacity:1; }
  50%  { opacity:0.6; }
  100% { opacity:1; }
}

.wrap-top {
   -webkit-animation: flickerAnimation 2s infinite;
}

@-webkit-keyframes scan {
  from {
    transform: translate3d(0, 0%, 0);
  }
  to {
    transform: translate3d(0, 100vh, 0);
  }
}

@keyframes scan {
  from {
    transform: translate3d(0, 0%, 0);
  }
  to {
    transform: translate3d(0, 100vh, 0);
  }
}

